**
!package.json
!package-lock.json
!Dockerfile.candidate
!node_modules
!node_modules/**
node_modules/.bin
node_modules/.bin/**
node_modules/@auction
node_modules/@auction/**
!apps
!apps/api
!apps/api/package.json
!apps/api/node_modules
!apps/api/node_modules/**
!apps/api/dist
!apps/api/dist/**
!apps/api/prisma
!apps/api/prisma/**
!apps/worker
!apps/worker/package.json
!apps/worker/dist
!apps/worker/dist/**
!packages
!packages/shared
!packages/shared/package.json
!packages/shared/src
!packages/shared/src/**
